.work__filter {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.75rem;
	margin-bottom: var(--mb-2);
}
.work__item {
	cursor: pointer;
	color: var(--title-color);
	padding: 0.25rem 0.75rem;
	background-color: var(--border-color);
	border-radius: 0.5rem;
	text-transform: capitalize;
	font-weight: var(--font-medium);
}
.work__item:hover {
	background-color: var(--title-color);
	color: var(--body-color);
}
.work__container {
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	justify-content: center;
}
.work__card {
	background-color: var(--container-color);
	border: 1px solid var(--border-color);
	padding: 1.25rem;
	border-radius: 1rem;
}
.work__stack {
	background-color: var(--border-color);
	border-radius: 1rem;
	padding: 1.25rem;
	margin-bottom: var(--mb-1);
}

.work__stack-items {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
}

.work__stack-item {
	display: flex;
	gap: 5px;
	align-items: center;
}

.work__feathers {
	background-color: var(--border-color);
	border-radius: 1rem;
	padding: 1.25rem;
	margin-bottom: var(--mb-1);
}

.work__feathers-items {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
}

.work__feathers-item {
	display: flex;
	gap: 5px;
	align-items: center;
}
.work__stack-item i {
	animation: rotate 1s alternate ease-in infinite;
}
@keyframes rotate {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

.work__image {
	max-width: 100%;
	width: 100%;
	border-radius: 1rem;
	margin-bottom: var(--mb-1);
	object-fit: cover;
	height: 300px;
	object-position: top;
}
.work__title {
	font-size: var(--h2-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1);
}
.work__button {
	color: var(--text-color);
	font-size: var(--small-font-size);
	display: flex;
	align-items: center;
	column-gap: 0.25rem;
	display: flex;
	flex: 1 1 auto;
	align-self: flex-end;
}
.work__button-icon {
	font-size: 1rem;
	transition: 0.3s;
}
.work__card:hover .work__button-icon {
	transform: translateX(00.25rem);
}
.active-work {
	background-color: var(--title-color);
	color: var(--body-color);
}
.work__image--svg {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 992px) {
	.work__container {
		gap: 1.25rem;
	}
	.work__card {
		padding: 1rem;
	}
	.work__image {
		margin-bottom: 0.75rem;
	}
	.work__title {
		margin-bottom: 0.25rem;
	}
}

@media screen and (max-width: 768px) {
	.work__container {
		grid-template-columns: 1fr;
	}
	.work__image {
		width: 100%;
	}
}
@media screen and (max-width: 350px) {
	.work__item {
		font-size: var(--small-font-size);
	}
	.work__filter {
		column-gap: 0.25rem;
	}
}
